html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

dl {
    display: grid;
    grid-template-columns: max-content auto; /* 1ª coluna ajusta ao tamanho do dt, 2ª ocupa o restante */
    gap: 4px 12px; /* espaçamento entre linhas e colunas */
    align-items: center; /* alinha verticalmente */
}

dt {
    font-weight: bold;
    text-align: right; /* deixa o texto alinhado à direita */
}

dd {
    margin: 0; /* remove margem padrão */
}
